.fade-in {
    animation: opacityChange 0.2s ease-in-out;
}

.fade-in-late {
    animation: opacityChange 0.5s ease-in-out;
}

.my-animate {
    animation: scroll 15s linear infinite;
}

@keyframes opacityChange {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scroll {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}